<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nhanbietso_3_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sim-3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{320,0},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>than-so-hoc-so-3-va-y-nghia.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,651}</string>
                <key>spriteSourceSize</key>
                <string>{650,651}</string>
                <key>textureRect</key>
                <string>{{970,0},{650,651}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>learnso3.png</string>
            <key>size</key>
            <string>{1620,651}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6190bf118b934b1ba287d14ce8374c7:2be966448cfdb55066a90aa63a3acb9c:f62e0b18888d7f1472aafec9988b6ade$</string>
            <key>textureFileName</key>
            <string>learnso3.png</string>
        </dict>
    </dict>
</plist>
